include *.rst
include *.md
include *.txt
include datasets/hst_psf/emp_psf_f814w_*x.npy
include paltax/TrainConfigs/train_config_500k.py
include paltax/TrainConfigs/train_config_50k.py
include paltax/TrainConfigs/train_config_5M.py
include paltax/TrainConfigs/train_config_constant.py
include paltax/TrainConfigs/train_config_exp_fast.py
include paltax/TrainConfigs/train_config_exp_slow.py
include paltax/TrainConfigs/train_config_linear.py
include paltax/TrainConfigs/train_config_linear_0p001.py
include paltax/TrainConfigs/train_config_npe_base.py
include paltax/TrainConfigs/train_config_res_18.py
include paltax/TrainConfigs/train_config_res_18_small.py
include paltax/TrainConfigs/train_config_res_18_very_small.py
include paltax/TrainConfigs/train_config_res_34.py
include paltax/TrainConfigs/train_config_res_d.py
include paltax/TrainConfigs/train_config_snpe_base.py
include paltax/TrainConfigs/train_config_snpe_instant_avg.py
include paltax/TrainConfigs/train_config_snpe_m_ad.py
include paltax/InputConfigs/train_config_linear.py
include paltax/test_files/*